<h2>New Country Entry</h2>

<form action="/countries" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Country name" required autofocus>
  </label>

  <label>
    Flag:
    <input type="url" name="flag" placeholder="http://...">
  </label>

  <button>Add New Country Entry</button>
</form>
