<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotdogs</title>
  <link rel="stylesheet" href="/css/hotdogs.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/hotdogs">Hotdogs Database</a>
      <a href="/hotdogs/new">Add Hotdog</a>
      |
      <a href="/countries">All Countries</a>
      <a href="/countries/new">Add Country</a>
      |
      <a href="/toppings">All Toppings</a>
      <a href="/toppings/new">Add Topping</a>
      
      <!--a href="/toppings">All Toppings</a>
      <a href="/toppings/new">Add Topping</a-->

    </nav>
    <h1>Awesome Hotdogs of the World</h1>
    <%= yield %>
  </div>
</body>
</html>
