<h2>New Topping Entry</h2>

<form action="/toppings" method="post" class="pLabel">
  <label>
    <b>Name:</b>
    <input type="text" name="name" placeholder="Topping name" required autofocus>
  </label>

  <br><br>
  <label>
    <b>Description:</b>
    <br>
    <textarea rows = "5" cols = "78" name = "description" placeholder="Topping description"></textarea>
  </label>

  <br><br>
  <label>
    <b>Image:</b><br>
    <input type="url" name="image" placeholder="http://..." size="80">
  </label>
  <br>
  <br>
  <button>Add New Topping Entry</button>
  <br>&nbsp;
</form>
<br>&nbsp;